services:
  # pgAdmin - Web UI для PostgreSQL
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@structura.ru
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD:-admin123}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    networks:
      - internal
      - web
    volumes:
      - ../data/pgadmin:/var/lib/pgadmin
    depends_on:
      - postgres_speckle
    labels:
      - "traefik.enable=true"
      # HTTP -> HTTPS redirect
      - "traefik.http.routers.pgadmin.rule=Host(`db.structura-most.ru`)"
      - "traefik.http.routers.pgadmin.entrypoints=web"
      - "traefik.http.routers.pgadmin.middlewares=pgadmin-https-redirect"
      # HTTPS
      - "traefik.http.routers.pgadmin-secure.rule=Host(`db.structura-most.ru`)"
      - "traefik.http.routers.pgadmin-secure.entrypoints=websecure"
      - "traefik.http.routers.pgadmin-secure.tls=true"
      - "traefik.http.routers.pgadmin-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.pgadmin-secure.service=pgadmin"
      # Service
      - "traefik.http.services.pgadmin.loadbalancer.server.port=80"
      # Redirect middleware
      - "traefik.http.middlewares.pgadmin-https-redirect.redirectscheme.scheme=https"
    deploy:
      resources:
        limits:
          memory: 256M

networks:
  internal:
    external: true
    name: bim_internal
  web:
    external: true
    name: bim_web
