# Динамическая конфигурация Traefik
# Содержит только middlewares
# Роутеры и сервисы определены в docker-compose.yml через labels

http:
  middlewares:
    # Общие заголовки безопасности
    default-headers:
      headers:
        frameDeny: true
        sslRedirect: false
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: false
        stsIncludeSubdomains: false
        stsPreload: false
        stsSeconds: 15552000
